// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #85D6FF;
@blue: #3366FF;
@purple: #CC66FF;
@green: #82884B;
@red: #cc3300;
@orange: #e69f00;
@light-orange: #FFD2A6;
