// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #85D6FF;
@blue: #4466FF;
@purple: #993366;
@green: #117733;
@red: #CC6677;
@orange: #DDCC77;
@light-orange: #999933;
